body {
  background-color: antiquewhite;
}
#container {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  width: 80vh;
  box-sizing: border-box;
  margin-top: 20vh;
  margin-left: 50vh;
}
.pow {
  width: 40vh;
  height: 60vh;
  background-color: white;
}
.description {
  line-height: 2.5;
}
#parfum {
  width: 40vh;
  height: 60vh;
}