body {
  background-color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}
#container {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  width: 80vh;
  box-sizing: border-box;
  margin-top: 20vh;
  margin-left: 50vh;
}
.text {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
  margin-left: 2em;
}
.pow {
  width: 40vh;
  height: 60vh;
  background-color: white;
}
.prices {
  font-size: 25px;
  margin-left: 1.25em;
  color:hsl(158, 36%, 37%);
}
.description {
  margin-left: 2em;
  font-size: 16px;
}
span {
  text-decoration: line-through;
  font-size: 16px;
  color: hsl(228, 12%, 48%);
  margin-left: 30px;
}
.button {
  margin-left:2em;
  width: 250px;
  height:50px;
  background-color: hsl(158, 36%, 37%);
  border: 1px solid hsl(158, 36%, 37%);
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
.perfumTitle {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  font-weight: lighter;
  margin-left: 2em;
  margin-top:2em;
}
#parfum {
  width: 40vh;
  height: 60vh;
}
#basket {
  width: 20px;
  height: 20px;
  color: white;
}